#s-133aa7fc-5dec-4a25-b005-83549ca5a51d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-133aa7fc-5dec-4a25-b005-83549ca5a51d #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 170px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-133aa7fc-5dec-4a25-b005-83549ca5a51d #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 170px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-133aa7fc-5dec-4a25-b005-83549ca5a51d #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 170px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-133aa7fc-5dec-4a25-b005-83549ca5a51d #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 170px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-133aa7fc-5dec-4a25-b005-83549ca5a51d #s-Button_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 170px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-133aa7fc-5dec-4a25-b005-83549ca5a51d #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 105px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-133aa7fc-5dec-4a25-b005-83549ca5a51d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15) alpha(opacity=15);
  -ms-transform: rotate(90.0deg);
}
#s-133aa7fc-5dec-4a25-b005-83549ca5a51d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15) alpha(opacity=15);
  -ms-transform: rotate(90.0deg);
}
#s-133aa7fc-5dec-4a25-b005-83549ca5a51d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}