#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 170px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 170px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Button_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 170px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Button_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 170px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Button_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 170px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 9px 9px 9px 9px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 105px;
  height: 50px;
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15) alpha(opacity=15);
  -ms-transform: rotate(90.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) progid:DXImageTransform.Microsoft.Alpha(Opacity=15);
  filter: alpha(opacity=15) alpha(opacity=15);
  -ms-transform: rotate(90.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Button_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 83px;
  height: 35px;
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-39035e96-c38e-4aa2-b8f8-aa5c44b6af6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}